

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #007bff, #858585, #f303e3); 
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar {
  background: linear-gradient(to right, #e909a2, #0ad8d1, #f803f4);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #ccc;
}

.navbar-toggler {
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ccc;
}
/* .content {
    flex: 1;
    padding: 40px 0;
    background-color: #f9f9f9;
} */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.hero-text {
    flex: 1;
    margin-right: 20px;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 0;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.feature-item {
    flex: 1;
    margin-right: 20px;
    text-align: center;

}

.feature-item:last-child {
    margin-right: 0;
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feature-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.media {
    margin-top: 40px;
}

.media h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.media-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.media-item {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.media-item:last-child {
    margin-right: 0px;
}
.content {
    flex: 1;
    padding: 40px 0;
    /* background-color: aqua; */
    margin-top: 2px;
    margin-bottom: 40px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding:0px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}



